import(methods)
import(matrixStats)
importFrom(BiocGenerics, combine, updateObject, getObjectSlots)
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, MIAxE,
                  Versions)
importMethodsFrom(Biobase, annotation, "annotation<-", channel,
                  classVersion, experimentData, featureData,
                  featureNames, "featureNames<-", isCurrent, "pData<-",
                  phenoData, protocolData, sampleNames)
import(GenomicRanges)
importFrom(Biobase, assayDataElementNames,
           assayDataElement, assayDataElementReplace, "assayDataElement<-",
           "cache", "copyEnv", "copySubstitute")

importFrom(reshape, melt) 
importFrom(mclust, Mclust)
importFrom(RColorBrewer, brewer.pal)
importFrom(beanplot, beanplot)
importFrom(nor1mix, norMix, pnorMix, qnorMix)
importFrom(siggenes, pi0.est, qvalue.cal)
importFrom(limma, squeezeVar, lmFit, eBayes, contrasts.fit)
importFrom(preprocessCore, normalize.quantiles)
importFrom(crlmm, readIDAT)

export(getManifest, getProbeData, getProbeInfo, getManifestInfo,
       getControlAddress, getRed, getGreen, getMeth, getUnmeth,
       getBeta, getM, dmpFinder, mdsPlot, plotCpg, preprocessRaw,
       IlluminaMethylationManifest, IlluminaMethylationAnnotation,
       normalize.illumina.control, bgcorrect.illumina, preprocessIllumina,
       preprocessSWAN, plotBetasByType,
       detectionP, qcReport, controlStripPlot, densityBeanPlot, densityPlot,
       read.450k, read.450k.sheet, read.450k.exp, logit2, ilogit2,
       MethylSet, RGChannelSet, RGChannelSetExtended)
exportClasses(RGChannelSet, RGChannelSetExtended, MethylSet,
              IlluminaMethylationManifest, IlluminaMethylationAnnotation)
exportMethods(show, initialize)
